/*
Source - https://stackoverflow.com/a
Posted by ModernDesigner, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-13, License - CC BY-SA 4.0
*/

@import url('https://fonts.googleapis.com/css?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

:root {
  --color1: #FDFBfE;
  --color2: #F2F0F1;
  --color3: #e2f3fc;
  --color4: #C1D8E9;
  --color5: #B2D0E8;
  --color6: #98C6DF;
  --color7: #77B6D5;
  --color8: #5783bb;
  --color9: #285186;
}
body {
  background: url("images/bg2.jpg") repeat;
  /* font-family: Verdana, Arial, sans-serif; */
  font-size: 12px;
  color: #000;
}

#container {
  width: 780px;
  margin: 5px auto;
  border: 3px ridge #ffffff;
  background: #fff;
}

#content {
  padding: 0; /* optional, see note below */
}

.banner {
  width: 100%;        /* width of content column */
  height: 50px;     /* fixed banner height */
  overflow: hidden;   /* crops image */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


#sidebar {
  color: var(--color7);
  font-family: 'Shantell Sans';
  width: 100px;
  background: var(--color3);
  padding: 10px;
  vertical-align: top;
}

#content {
  padding: 15px;
}

#footer {
  color: var(--color7);
  font-family: 'Shantell Sans';
  padding: 10px;
  vertical-align: top;
  align-content: center;
}

h1 {
  font-family: 'Shantell Sans';
  font-size: 20px;
  color: var(--color8);
  border-bottom: 2px dotted #999;
}

h2 {
  font-family: 'Shantell Sans';
  font-size: 16px;
  color: var(--color8);
  border-bottom: 2px dotted #999;
}

h3 {
  font-family: 'Shantell Sans';
  font-size: 15px;
  color: var(--color7);
}

p {
  font-family:'Ubuntu';
  color: var(--color7);
  font-size: 14px;
}

a {
  color: #45a8ff;
  text-decoration: underline;
}

a:hover {
  color: #ffb0d9;
}
